@charset "utf-8";

--variable: left;

/* @media screen and (resolution: 11dpi), print and (height > 500px) {
    display: flex;
} */

html {
   display: block;
   font: roboto consolas arial;
   border: 2px black solid;
}
